*{
    padding:0;
    margin:0;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    background-color: black;
    color:white;
    text-align: center;
    padding:20px 0px;
}
.header a{
    text-decoration: none;
    color:grey;
}
.header__title{
    margin-bottom: 10px;
}
.header a:hover{
    color:white;
}
.main-section{
    margin:20px 0px;
    text-align: center;
}
.main-section__item{
    width:210px;
    border:2px solid black;
    display:inline-block;
    text-align: center;
    margin-right: 5px;
}
.main-section__item button{
    background-color: black;
    color:white;
    padding:10px;
    width:50%;
    font-weight: bold;
    border:none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}
.footer-section{
    background-color: black;
    color:white;
    text-align: center;
    padding:15px 0px;
}
.footer-section table{
    display: inline-block;
    margin:10px 0px;
}
.footer-section__button{
    background-color: yellow;
    border:none;
    color:black;
    width:30%;
    padding:10px 0px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.footer-section input[placeholder]{
    margin-bottom: 5px;
    padding:3px;
}
.footer-section input[placeholder]:focus{
    outline:none;
    caret-color: red;
}
